$primary-color: #fff4a3;
$bg-image: '../assets/bg-body.png';
$bg-results: '../../assets/bg-results.png';
$accent-color: #fff4a3;
$bg-color: #08050c;
$bg-accent-color: #e0e0e0;
$disabled-color: #bdbdbd;
$foreground-color: #e9dbdb;